################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.#
################################################################################

/IotApi/src/IotApi/IotApi/bin/*
/IotApi/src/IotApi/IotApi/obj/*
/IotApi/IotApiTests/bin/*
/IotApi/IotApiTests/obj/*
/IotApi/IotApiTests/project.lock.json
/IotApi/src/IotApi/bin/Debug/*
/IotApi/src/IotApi/obj/Debug/*
/IotApi/CentranControlUnit/bin/*
/IotApi/CentranControlUnit/obj/*
/IotApi/XmlRpcCore/bin/*
/IotApi/XmlRpcCore/obj/*
/IotApi/Test.Desktop/bin/*
/IotApi/Test.Desktop/obj/*
/IotApi/Test.Uwp/bin/*
/IotApi/Test.Uwp/obj/*
/IotApi/.vs/*
/IotApi/src/XmlRpcConnector/XmlRpcCore/obj/Debug/netstandard1.6
/IotApi/tests/IotApiTests/IotApiCoreTests/bin/Debug/netcoreapp1.0
/IotApi/tests/IotApiTests/IotApiCoreTests/obj/Debug/netcoreapp1.0
/IotApi/tests/XmlRpcConnectorTests/Test.Desktop/bin/Debug/netcoreapp1.0
/IotApi/tests/XmlRpcConnectorTests/Test.Desktop/obj/Debug/netcoreapp1.0
/IotApi/tests/XmlRpcConnectorTests/Test.Uwp/obj/x86/Debug
