################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoTBridge_pubsub/IoTBridge/Readme
/IoTBridge_pubsub/IotBridge.CcuXmlRpc/Readme
/IoTBridge_pubsub/IotBridge.SbTransport/Readme
/IoTBridge_pubsub/Receiver (CCU)/Readme
/IoTBridge_pubsub/Sender (Console App)/Readme
/IoTBridge_pubsub/XMLRPCLib/Readme
/IoTBridge_queue/IoTBridge/Readme
/IoTBridge_queue/IotBridge.CcuXmlRpc/Readme
/IoTBridge_queue/IotBridge.SbTransport/Readme
/IoTBridge_queue/Receiver (CCU)/Readme
/IoTBridge_queue/Sender (Console App)/Readme
/IoTBridge_queue/XMLRPCLib/Readme
/IoTBridge_queue/XMLRPCLib/Readme
/Connectors/IoTApi/bin/*
/Connectors/IoTApi/obj/*
/Connectors/IoTApiUnitTests/bin/*
/Connectors/IoTApiUnitTests/obj/*
/Connectors/IotApi/IoTBridge/Readme
/Connectors/IotApi/IotBridge.CcuXmlRpc/Readme
/Connectors/IotApi/IotBridge.SbTransport/Readme
/Connectors/IotApi/Receiver (CCU)/Readme
/Connectors/IotApi/Sender (Console App)/Readme
